header
	nav(class="main-nav")
		ul
			li 
				a(href="/index.html") 
					| Home
			li 
				a(href="/items.html")
					| About
			li 
				a(href="/monsters.html")
					| Signup
			li 
				a(href="/bosses.html")
					| Schedule
			li
				a(href="/zones.html") 
					| Contact