---
title: "CoNDOR - Index Page"
description: "CoNDOR - Crypt of the NecroDancer Online Racing League."
keywords: "crypt,necrodancer,condor,online,racing,league,memes"
section: "index"
---

extends /layout/base.jade

block content

	h1 CoNDOR Index Page

	p Welcome to the index page for CoNDOR (Crypt of the NecroDancer Online Racing League)!

	p We are the longest running racing league for Crypt of the NecroDancer. From our roots in the Necrothon, all the way up to our most recent 5th season, we have had a very succesful and interesting history, filled with several interesting racers and staff members alike! 

	p To find out more about CoNDOR, please use the navigation bar or the buttons below.

	.buttons-container


		a(href="/about.html")
			.button.about
				p About

		a(href="/signup.html")
			.button.signup
				p Signup

		a(href="/schedule.html")
			.button.schedule
				p Schedule

		a(href="/contact.html")
			.button.contact
				p Contact